body {
	background-color: white;
}

.appname {
	font-family: Segoe UI, Myriad Pro;
	float: left;
	line-height: 70px;
}

.applogo {
	float:left;
	margin: 20px 10px 0 0;
}

.applogin {
	float: right;
	margin-right: 15px;
	font-size: 12px;
	font-weight: regular;
	color: gray;
	height: 70px;
}

.applogin a {
	
	display: inline-block;
	height: 23px;
	text-decoration: none;
	color: inherit;
	line-height: 23px;
	padding: 0 5px;
}

#container {
	width: 1024px;
	border: 1px solid black;
	margin: 0 auto;
}

#title {
	height: 70px;
	background-color: #191919;
	font-size: 30px;
	color: white;
	font-family: Verdana;
	padding-left: 105px;
}

#navigation {
	padding-top: 15px;
	height: 40px;
	background-color: #1d9dd3;
	padding-left: 105px;
}

#content {
	padding: 10px 10px 10px 105px;
}

#footer {
	color: white;
	background-color: #191919;
	height: 60px;
	padding-left: 105px;
}

/** NAVLIST **/
#navlist {
	padding:3px 20px 0px 0px;
}

#navlist li {
	display: inline;
}

#navlist li a {
	color:#ffffff;
	font-size:13px;
	font-weight:bold;
	font-family: Arial;
	text-decoration:none;
	padding:5px 25px;
	
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

#navlist li a:hover, #navlist li.active a {
	background-color:#2182ac;
	text-decoration:none;
}