RewriteEngine On
# Change the following to suit your local folder hierarchy.
RewriteBase /aivur/

# Turn SEO-friendly links into Yii-compatible links behind the scenes.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA]

# Keep hidden files/folders hidden
RewriteRule (^|/)\..* index.php [R=403,L]

# No direct access to directories
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule . index.php [R=403,L]